header{
  background-color: black;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ativa{
  color: white;
}


.menu{
  background-color: #363636;
  padding: 0.5rem 0;
  width: 100%;
  color: gold;
  text-align: center;
}

.menu-ativo{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  margin: 0;
  padding: 0;
  width: 100%;
}

li{
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.25rem;
  text-align: center;
  color: white;
}

li:hover{
  background-color: #363636;
  color: gold;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%   ;
  background-color: #1C1C1C;
}

footer h4{
  color: white;
  padding: 0.5rem;
}



img{
  width: 150px;
  height: 150px;
}

.card h3{
  padding: 1rem;
}






