<header>
  <a [routerLink]="['/']" routerLinkActive="ativa">Negritude em Êxodo</a>
</header>

<div (click)="mostrarMenu()" class="menu">
    Menu
</div>

<div *ngIf="this.flagMenu == true">
    <nav class="menu-ativo">
      <ul>
        <li>
          <a>Cards</a>
        </li>
        <li>
          <a>Negripédia</a>
        </li>
        <li>
          <a>Artigos</a>
        </li>
      </ul>
    </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <h4>Comunidade Cristã Êxodo</h4>
  <img [src]="logo"/>
</footer>

