<div>
  <div>
    <carousel>
      <slide>
        <img [src]="imagem1" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img [src]="imagem2" alt="second slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>

  <div class="menu-2">
    <div class="card">
      <h3>Novidades</h3>
      <ul>
        <li>
          <a>Culto de Celebração</a>
        </li>
        <li>
          <a>Dia da Consciência Negra</a>
        </li>
        <li>
          <a>Vem Fazer Parte!</a>
        </li>
      </ul>
    </div>
  </div>
</div>
